POSTGRES_DB=abstrict
POSTGRES_USER=abstrict
POSTGRES_PASSWORD=change-this-postgres-password
POSTGRES_PORT=5432

PGADMIN_DEFAULT_EMAIL=admin@abstrict.com
PGADMIN_DEFAULT_PASSWORD=change-this-pgadmin-password
PGADMIN_PORT=5050

API_PORT=8080
